<div class="d-flex mb-5"> 
    <div class="col-2 sidebar">
        <ul>
        <li><a href="#" class="sidebar-item activo" data-target="perfil">PERFIL</a></li>
        <li><a href="#" class="sidebar-item" data-target="consultar">CONSULTAR</a></li>
        <li class="dropdown">
            <a href="#" class="sbi">CONTROL DE EXPEDIENTE</a>
            <ul class="dropdown-menu">
                <li><a href="#" class="sidebar-item sub" data-target="alta">ALTA</a></li>
                <li><a href="#" class="sidebar-item sub" data-target="baja">BAJA</a></li>
                <li><a href="#" class="sidebar-item sub" data-target="transferencia">TRANSFERENCIA</a></li>
            </ul>
        </li>
        <li><a href="#" class="sidebar-item" data-target="controlUsuarios">CONTROL DE USUARIOS</a></li>
        <li><a href="#" class="sidebar-item" data-target="reportes">REPORTES</a></li>
        <li><a href="#" class="sidebar-item" data-target="peticiones">PETICIONES</a></li>
        <li style="align-items: center;"><a href="/logout" class="logout">CERRAR SESIÓN</a></li>
        </ul>
    </div>
    <div class="col-10">
            <div id="perfil" class="contenido activo">
                <%- include('contenidos/perfil')%>
            </div>
            <div id="consultar" class="contenido">
                <%- include('contenidos/consultar')%>
            </div>
            <div id="alta" class="contenido">
                <%- include('contenidos/alta')%>
            </div>
            <div id="baja" class="contenido">
                <%- include('contenidos/baja')%>
            </div>
            <div id="transferencia" class="contenido">
                <%- include('contenidos/administrador/transferencia')%>
            </div>
            <div id="controlUsuarios" class="contenido">
                <%- include('contenidos/administrador/controlUsuarios')%>
            </div>
            <div id="reportes" class="contenido">
                <%- include('contenidos/administrador/reportes')%>
            </div>
            <div id="peticiones" class="contenido">
                <%- include('contenidos/administrador/peticiones')%>
            </div>
        </div>  